emcee==2.2.1
Theano
numpy
scipy
pandas
scikit-learn
matplotlib
ipykernel
notebook
ruamel.yaml
yamlmagic
Munch
seaborn
corner
pyspike
# lab dependencies
toelis
ewave
libtfr
quickspikes
git+https://github.com/melizalab/gammatone@fb9390ed9fb249de52227a81283a0db0884c1da2#egg=Gammatone
# only needed if compiling biophysical models
spyks
# install from private package repo
--extra-index-url https://gracula.psyc.virginia.edu/public/pypa/
emcee-tools
mat-neuron
# also make sure to do a python setup.py develop in the current directory
