--extra-index-url https://pypi.fury.io/9sWu_vahYMyGeaBAZ8ac/melizalab/
nose==1.3.7
numpy==1.13.3
scipy==0.19.0
mpi4py=2.0.0
emcee==2.2.1
neurofit==0.3.5
pyspike==0.5.1
toelis==2.0.1
ewave==1.0.5
libtfr==2.0.2
mat-neuron==0.4.1
-e git+https://github.com/tdrobbins/gammatone@fb9390ed9fb249de52227a81283a0db0884c1da2#egg=Gammatone
xxxxs
